<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/" class="logo">
                <span class="symbol"><img src="/images/logo.svg" alt="" /></span><span class="title">Clubs and People</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li>
                <a class="inactiveLink">Your Clubs</a>
                <ul>
                    <li><a href="/clubs/csec">CSEC</a></li>
                    <li><a href="/clubs/csec">EXE</a></li>
                    <li><a href="/clubs/csec">GLUG</a></li>
                </ul>
            </li>
            <li><a href="/joinClub">Join A Club</a></li>
            <li><a></a></li>
            <li><a><button class="button primary small butn">Logout</button></a></li>
        </ul>
    </nav>