<head>
	<% include ../partial/head %>
	<style>
		.butttons {
			position: fixed;
			bottom: 0px;
			right: 0px;
		}
	</style>
</head>

<body class="is-preload">

	<% include ../partial/header %>

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<div class="col-6 col-12-medium">
				<ul class="actions stacked">
					<li><a class="button primary fit">CSEC</a></li>
				</ul>
			</div>
			<section class="tiles">
				<article class="style3">
					<span class="image">
						<img src="/images/pic03.jpg" alt="" />
					</span>
					<a href="/event/1">
						<h2>Feugiat</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros eifugf
								ygfyfufhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
								ggggggggggggggggggggggggggggggg.tiles ar.ti.tile.tiles article.style3s article.style3les
								article.style3ticle.sty.tiles article.style3le3t feugiat.</p>
						</div>
					</a>
				</article>
			</section>
			<section class="tiles">
				<article class="style3">
					<span class="image">
						<img src="/images/pic03.jpg" alt="" />
					</span>
					<a href="/event/1">
						<h2>Feugiat</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros eifugf
								ygfyfufhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
								ggggggggggggggggggggggggggggggg.tiles ar.ti.tile.tiles article.style3s article.style3les
								article.style3ticle.sty.tiles article.style3le3t feugiat.</p>
						</div>
					</a>
				</article>
			</section>
			<section class="tiles">
				<article class="style3">
					<span class="image">
						<img src="/images/pic03.jpg" alt="" />
					</span>
					<a href="/event/1">
						<h2>Feugiat</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros eifugf
								ygfyfufhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
								ggggggggggggggggggggggggggggggg.tiles ar.ti.tile.tiles article.style3s article.style3les
								article.style3ticle.sty.tiles article.style3le3t feugiat.</p>
						</div>
					</a>
				</article>
			</section>
			<section class="tiles">
				<article class="style3">
					<span class="image">
						<img src="/images/pic03.jpg" alt="" />
					</span>
					<a href="/event/1">
						<h2>Feugiat</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros eifugf
								ygfyfufhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
								ggggggggggggggggggggggggggggggg.tiles ar.ti.tile.tiles article.style3s article.style3les
								article.style3ticle.sty.tiles article.style3le3t feugiat.</p>
						</div>
					</a>
				</article>
			</section>
			<section class="tiles">
				<article class="style3">
					<span class="image">
						<img src="/images/pic03.jpg" alt="" />
					</span>
					<a href="/event/1">
						<h2>Feugiat</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros eifugf
								ygfyfufhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
								ggggggggggggggggggggggggggggggg.tiles ar.ti.tile.tiles article.style3s article.style3les
								article.style3ticle.sty.tiles article.style3le3t feugiat.</p>
						</div>
					</a>
				</article>
			</section>
			<section class="tiles">
				<article class="style3">
					<span class="image">
						<img src="/images/pic03.jpg" alt="" />
					</span>
					<a href="/event/1">
						<h2>Feugiat</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros eifugf
								ygfyfufhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
								ggggggggggggggggggggggggggggggg.tiles ar.ti.tile.tiles article.style3s article.style3les
								article.style3ticle.sty.tiles article.style3le3t feugiat.</p>
						</div>
					</a>
				</article>
			</section>
			<div class="butttons">
				<button class="button small">Members list</button>
				<button class="button small">Request Permission</button>
				<button class="button small">Create Event</button>
				<button class="button small">Permission Status</button>
			</div>
		</div>
	</div>


	<% include ../partial/footer %>

</body>