<head>
    <% include ../partial/head %>
</head>


<body style="background-color: #e9ecef;">
    
    <% include ../partial/header %>
    <h1 style="color: #008577; font-weight: 600;"> Kindly confirm your email</h1>
    <% include ../partial/footer %>
</body>