<head>
	<% include ../partial/head %>
</head>

<body class="is-preload">

	<% include ../partial/header %>

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<section class="tiles">
				<article class="style3">
					<span class="image">
						<img src="/images/pic03.jpg" alt="" />
					</span>
					<a href="/event/1">
						<h2>Feugiat</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros eifugf
								ygfyfufhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
								ggggggggggggggggggggggggggggggg.tiles ar.ti.tile.tiles article.style3s article.style3les
								article.style3ticle.sty.tiles article.style3le3t feugiat.</p>
						</div>
					</a>
				</article>
			</section>
		</div>
	</div>
	<% include ../partial/footer %>
</body>