<head>
	<% include ../partial/head %>
</head>

<body class="is-preload">

	<% include ../partial/header %>

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<section class="tiles">
				<article class="style3">
					<span class="image">
						<img src="images/pic03.jpg" alt="" />
					</span>
					<a href="generic.html">
						<h2>Feugiat</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
						</div>
					</a>
				</article>
			</section>
		</div>
	</div>

	</div>

<% include ../partial/footer %>

</body>