<head>
    <% include ../partial/head %>
</head>

<body >
    <% include ../partial/footer %>
    <script>
        var url = "<%- url %>"
        console.log(url);
        var redirect = function(url){
            var form = document.createElement('form');
            document.body.appendChild(form);
            form.method="post";
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'token';
            input.value = localStorage.getItem('token') == undefined ? "fuckerToken": localStorage.getItem('token');
            form.appendChild(input);
            form.action = url;
            form.submit();
        }
        redirect(url);
    </script>
</body>